{% extends 'base.html.twig' %}

{% block title %}Hello CentralController!{% endblock %}

{% block body %}
<main class="container-fluid">
   <div class="card p-2 mt-5">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">

   <hr>
    <h2 class="card-text" style="text-transform: uppercase">site de gestion d'animation</h2>
    <hr>
    <a href="{{ url('app_login') }}" class="btn btn-primary">identification</a>
  </div>
</div>

</main>


{% endblock %}
