<div class="card">
    <div class="card-header">
        <h5>formulaire de création</h5>
    </div>
    <div class="card-body">
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
    </div>
</div>

