{% extends 'base.html.twig' %}

{% block title %}Nouveau parent{% endblock %}

{% block body %}
    <div class="mt-5 p-3 bg-light">
        <hr>
        <h3 class=" text-uppercase text-lg-center">Formulaire de création de parent</h3>
        <hr>
        {{ include('parents/_form.html.twig') }}
        <hr>
        <a href="{{ path('parents_index') }}">back to list</a>
    </div>
{% endblock %}
