{% extends 'base.html.twig' %}

{% block title %}New Animateurs{% endblock %}

{% block body %}
    <h1>Create new Animateurs</h1>

    {{ include('animateurs/_form.html.twig') }}

    <a href="{{ path('animateurs_index') }}">back to list</a>
{% endblock %}
