{% extends 'base.html.twig' %}

{% block title %}Edit Associations{% endblock %}

{% block body %}
    <h1>Edit Associations</h1>

    {{ include('associations/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('associations_index') }}">back to list</a>

    {{ include('associations/_delete_form.html.twig') }}
{% endblock %}
