{% extends 'base.html.twig' %}

{% block title %}New Associations{% endblock %}

{% block body %}
    <h1>Create new Associations</h1>

    {{ include('associations/_form.html.twig') }}

    <a href="{{ path('associations_index') }}">back to list</a>
{% endblock %}
