{% extends 'base.html.twig' %}

{% block title %}Edit Activites{% endblock %}

{% block body %}
    <h1>Edit Activites</h1>

    {{ include('activites/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('activites_index') }}">back to list</a>

    {{ include('activites/_delete_form.html.twig') }}
{% endblock %}
